* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans',sans-serif;
    background-color:bisque;
}
.box1{
    padding-top: 50px;
}
.box1 img{
    height: 300px;
    width: 1000px;
}
.box2{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.box2 .wrapper {
    margin: auto;
    position: relative;
}
.box2 nav {
    width: 100%;
    margin: auto;
    line-height: 80px;
    top: 0;
    background: darkgray;
    z-index: 1;
}
.box2 nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.box2 nav li {
    float: left;
    font-weight: bold;
}
.box2 nav ul li a {
    color: black;
    font-weight: bold;
    font-family: verdana;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    border-radius: 20px;
}
.box2 nav ul li a:hover{
    text-decoration: underline;
    color: white;
}

.box3{
    width: 1000px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
section#home img{
    height: 300px;
    width: 300px;

}
section {
    margin: auto;
    display: flex;

}
section#home {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding: 0px 20px 0px 20px;
}
.waktu {
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolomgalery {
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}
a.artikel{
    padding-top: 7px;
    padding-right: 20px;
    float: right;
    color: black;
    text-decoration: underline;
}
a.artikel:hover{
    color: brown;
}
.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}
h2 {
    padding-top: 50px;
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    text-decoration: underline;
    margin-bottom: 20px;
    color: brown;
    width: 100%;
    line-height: 50px;
}
h2.galery {
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    text-decoration: underline;
    margin-bottom: 20px;
    color: brown;
    width: 100%;
    line-height: 50px;
}
p.text {
    padding-right: 20px;
    text-align: justify;
    font-family: 'comic sans ms';
}
.box4{
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.box5{
    height: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 50px;
}
img#home{
    padding-top: 80px;
    height: 300px;
    width: 300px;
}
img#contact{
    margin-top: 80px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid white;
}
img.home{
    height: 300px;
    width: 300px;
}
img.galery{
    padding-top: 20px;
    height: 180px;
    width: 180px;
}
img.artikel{
    padding-top: 100px;
    height: 300px;
    width: 300px;
}
form.contact{
    padding: 50px;
}
tr.contact{
    padding: 20px;
    text-decoration: none;
    text-align: left;
}
table tr{
    border: 1px;
    padding: 25px;
    text-align: center;
    font-family: 'comic sans ms';
    text-decoration: underline;
}
.footer {
    background-color:darkgray;
    color: black;
    padding: 13px 0px 13px 0px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    font-family: arial;
}
.satu{
    text-align: right;
    float: right;
    font-family: 'comic sans ms';
    padding: 0px 20px 0px 20px;
}
.dua{
    text-align: right;
    float: right;
    font-family: 'comic sans ms';
    padding: 0px 20px 0px 20px;
    padding-top: 50px;
}